.carouselContainer {
  height: 80vh;  
  width: 100%;
  position: relative; 
}

.carouselContainer img {
  height: 80vh; 
  width: 100%;  
  object-fit: cover;  
}

@media (max-width: 768px) {
  .carouselContainer {
    height: 10vh; 
  }
  
  .carouselContainer img {
    height: 20vh; 
    width: 100%;
    object-fit: contain;
  }

}
